<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- Attention! Application will crash if Printer/Drawer does not exist! -->
	<appSettings>
		<add key="DrawerName" value="DN_CashDrawer_POSPrinter_TH250-II_USB_UDM"/>
		<add key="PrinterName" value="DN_POSPrinter_TH250-II_USB_UDM"/>
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>